.container {
  max-width: 740px;
  margin: 0 auto;
  padding: 24px 16px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: var(--TextAccent);
  margin-bottom: 20px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 600px) {
  .container {
    padding: 0 16px;
    margin-top: 10px;
  }
}