.backWrapper {
  margin-top: 32px;
  margin-left: 48px;
}

.backButton {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--TextSecondary);
  font-size: 14px;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
}

.backButton:hover {
  color: var(--ControlPrimary);
}
