.authForm {
  background: var(--BgPrimary);
  border-radius: 16px;
  max-width: 416px;
  width: 100%; 
  display: flex;
  flex-direction: column;
  padding: 40px 36px;
  margin: 0 auto; 
}

.authForm__header {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.authForm__header h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: var(--TextPrimary);
  font-size: 28px;
}

@media (max-width: 768px) {
  .authForm {
    padding: 32px 24px;
  }

  .authForm__header h2 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .authForm {
    padding: 24px 16px;
    border-radius: 12px;
    background-color: transparent;
    min-width: 375px;
    width: 100%;
  }
}