.toaster-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 376px;
  padding: 13px 24px;
  border-radius: 8px;
  background-color: var(--BgPrimary);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  color: var(--TextPrimary);
  animation: slideIn 0.3s ease-out;
}

.toast-message {
  flex: 1;
  margin-right: 12px;
}

.toast-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.toast-close-btn {
  background: none;
  border: none;
  color: inherit;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toast-close-btn svg path {
  stroke: var(--IconSecondary);
}
.toast-close-btn:hover svg path {
  stroke: var(--IconPrimary);
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}