.ui-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; 
  gap: 4px;
}

.ui-input-label {
  font-size: 16px;
  font-weight: 500;
  color: var(--TextPrimary);
}

.ui-input-field {
  position: relative;
  display: flex;
  align-items: center;
}

.ui-input {
  width: 100%;
  padding: 10px 16px 10px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: var(--BgThumbnail);
  outline: none;
}

.ui-input-icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: #999;
}

.ui-input-error input {
  border-color: var(--Error);
}

.ui-input-error-text {
  color: var(--Error);;
  font-size: 12px;
}

.ui-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.ui-input:focus {
  border-color: var(--Focus); 
}

.ui-input-icon.left {
  left: 12px;
}

.ui-input-icon.right {
  right: 12px;
}

.ui-input.error .ui-input__icon {
  color: var(--Error);
  transition: color 0.2s ease;
}

.ui-input-status-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.ui-input-status-icon.error {
  background-color: var(--Error);
}

.ui-input-status-icon.success {
  background-color: var(--Success);
}
.ui-input-icon.error {
  color: var(--Error);
}


