.uiInput__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; 
  gap: 4px;
}

.uiInput__label {
  font-size: 16px;
  font-weight: 500;
  color: var(--TextPrimary);
}

.uiInput__field {
  position: relative;
  display: flex;
  align-items: center;
}

.uiInput {
  width: 100%;
  padding: 10px 16px 10px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: var(--BgThumbnail);
  outline: none;
}

.uiInput__icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: #999;
}

.uiInput-error input {
  border-color: var(--Error);
}

.uiInput__error__text {
  color: var(--Error);;
  font-size: 12px;
}

.uiInput__container {
  position: relative;
  display: flex;
  align-items: center;
}

.uiInput:focus {
  border-color: var(--Focus); 
}

.uiInput__icon.left {
  left: 12px;
}

.uiInput__icon.right {
  right: 12px;
}

.uiInput.error .uiInput__icon {
  color: var(--Error);
  transition: color 0.2s ease;
}

.uiInput__status__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.uiInput__status__icon.error {
  background-color: var(--Error);
}

.uiInput__status__icon.success {
  background-color: var(--Success);
}
.uiInput__icon.error {
  color: var(--Error);
}

.uiInput__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  margin-bottom: 24px; 
}

.uiInput__wrapper:nth-last-child(2) {
  margin-bottom: 40px;
}
