.registrationForm__subtitle {
  font-size: 16px;
  color: var(--TextSecondary);
  margin-bottom: 24px;
}
.registrationForm__title {
  color: var(--TextAccent);
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 16px;
  text-align: center;
}