.header {
  align-items: center;
  height: 64px;
  background-color: var(--BgPrimary);
  border-bottom: 1px solid var(--Border);
  color: var(--TextPrimary);
  font-size: 16px;
  font-weight: 500;
}
.headerInner {
  max-width: 1440px; 
  height: 100%;
  margin: 0 auto; 
  padding: 0 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: var(--TextAccent);
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 93px;
}

.navLink {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--TextTertiary);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.navLink.active {
  color: var(--TextPrimary);
  font-weight: 600;
  line-height: 20px;
}

.navLink:hover {
  color: var(--TextAccent);
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button {
  padding: 8px 16px;
  border-radius: 8px;
  background: var(--ControlPrimary);
  color: var(--TextContrast);
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: background 0.2s ease-in-out;
}

.button:hover {
  background: var(--ControlPrimaryHover);
}

.authForm__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.authForm__header h2{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: var(--TextPrimary);
}
.userInfo {
  display: flex;
  align-items: center;
  gap: 4px;
}
.rightBlock {
  display: flex;
  gap: 40px;
}


