.react-datepicker-popper {
}
.react-datepicker {
  border: none;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 12px 40px 0 #8C8C8C26;
  background: var(--BgPrimary);
}
.react-datepicker__header {
  padding: 16px 0;
  border-bottom: none;
  background: var(--BgPrimary);
}


.custom-datepicker-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}
.custom-datepicker-header__select {
  display: flex;
  align-items: center;
}
.custom-datepicker-header__select-arrow {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border: none;
  background: none;
  cursor: pointer;
}
.custom-datepicker-header__select-arrow svg {
  font-size: 24px;
}
.custom-datepicker-header__select-label {
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  color: var(--TextPrimary);
}

.react-datepicker__day-name,
.react-datepicker__day {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.react-datepicker__day-name {
  color: var(--TextTertiary);
}
.react-datepicker__day {
  color: var(--TextPrimary);
}
.react-datepicker__day--outside-month {
  color: var(--TextTertiary);
}
.react-datepicker__day--selected {
  border-radius: 50%;
  background: var(--ControlPrimary);
  color: var(--TextContrast);
}