.profileCard {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.profileTitle {
  color: var(--ControlPrimary);
}

.avatarEditIcon {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--BgPrimary); 
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.form {
  width: 100%;
  max-width: 400px; 
  margin: 0 auto;   
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.buttons button {
  width: 100%;
}

.cancelBtn {
  border: 1px solid var(--ControlPrimary);
  color: var(--ControlPrimary);
  background: transparent;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
}

.cancelBtn:hover {
  background: var(--ControlAlternativeHover);
}

.saveBtn {
  background: var(--ControlPrimary);
  color: var(--TextContrast);
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.saveBtn:disabled {
  background: var(--ControlPrimaryDisabled);
  cursor: not-allowed;
  opacity: 0.7;
}
