.login-form {
  background: var(--BgPrimary);
  padding: 32px;
  border-radius: 16px;
  max-width: 416px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.login-form h2 {
  text-align: center;
  color: var(--TextPrimary);
}

.login-form__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
  color: #333;
}

.login-form__subtitle {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-bottom: 8px;
}

.login-form__button {
  margin-top: 12px;
  width: 100%;
  background-color: #f45b25 !important;
  border-radius: 8
}