.userWrapper {
  position: relative;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdownToggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 16px;
  background: var(--BgPrimary);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  min-width: 207px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.dropdownItem {
  padding: 10px 16px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--TextPrimary);
  font-size: 14px;
  transition: all 0.5s ease;
}

.profileLink {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.logoutBtn {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dropdownItem:hover {
  background: var(--BgContrast);
}
.avatar {
  width: 40px;      
  height: 40px;
  border-radius: 50%;
  object-fit: cover; 
}