.ui-tabs__list {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.ui-tabs__button {
  padding: 5px 37px;
  border: 1px solid var(--BorderAccent);
  background: var(--BgSecondary);
  color: var(--TextSecondary2);
  cursor: pointer;
  transition: 0.2s;
}

.ui-tabs__button.active {
  background: var(--ControlPrimary);
  color: var(--TextContrast);
}

.ui-tabs__content {
  padding: 12px;
  background: var(--BgPrimary);
  border: 1px solid var(--Border);
  border-radius: 6px;
}
.ui-tabs__button.left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.ui-tabs__button.right {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}