.login-form {
  background: var(--BgPrimary);
  padding: 40px 36px;
  border-radius: 16px;
  max-width: 416px;
  display: flex;
  flex-direction: column;
}

.login-form__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.login-form__header h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: var(--TextPrimary);
  margin: 0;
}

.login-form__subtitle {
  font-size: 16px;
  color: var(--TextSecondary);
  margin-bottom: 24px;
}
.login-form .ui-input-wrapper {
  margin-bottom: 24px;
}
.login-form .ui-input-wrapper:nth-last-child(2) {
  margin-bottom: 40px;
}