.container {
  max-width: 740px;
  margin: 40px auto;
}

.postItem {
  margin-bottom: 24px;
}
.postItem:last-child {
  margin-bottom: 0;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 16px;
}

.illustration {
  width: 450px;
  height: 450px;
}

.emptyText {
  font-size: 18px;
  color: #555;
  text-align: center;
}
.addPostButton {
  width: 170px;

}

.createForm {
  background: var(--BgPrimary);
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.newPostBox {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 16px;
  background-color: var(--BgPrimary);
}

.newPostText {
  flex: 1;
  font-size: 16px;
  color: var(--TextTertiary);
}
