.container {
  max-width: 740px;
  margin: 40px auto;
  padding: 0 10px;
}

.postItem {
  margin-bottom: 24px;
}
.postItem:last-child {
  margin-bottom: 0;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 16px;
}

.illustration {
  width: 450px;
  height: 450px;
}

.emptyText {
  font-size: 18px;
  color: #555;
  text-align: center;
}
.addPostButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 170px; 
  height: 40px;
}

.createForm {
  background: var(--BgPrimary);
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.newPostBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 16px;
  background-color: var(--BgPrimary);
}
.newPostBoxLeft {
  display: flex;
  align-items: center;
  gap: 6px;
}

.newPostText {
  flex: 1;
  font-size: 16px;
  color: var(--TextTertiary);
}
.mobileIcon {
  display: none;
}

@media (max-width: 600px) {
  .addPostButton {
    width: 40px;     
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desktopText {
    display: none;
  }

  .mobileIcon {
    display: block;
  }
  .mobileIcon svg {
    width: 20px;
    height: 20px;
  }
}