
.react-datepicker {
  border: none !important;
  border-radius: 16px !important;
  overflow: hidden !important;
  box-shadow: 0 12px 40px 0 #8C8C8C26 !important;
  background: var(--BgPrimary) !important
}
.react-datepicker__header {
  padding: 16px 0 !important;
  border-bottom: none !important;
  background: var(--BgPrimary) !important;
}


.custom-datepicker-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 0 8px !important;
}
.custom-datepicker-header__select {
  display: flex !important;
  align-items: center !important
}
.custom-datepicker-header__select-arrow {
  width: 24px !important;
  height: 24px !important;
  text-align: center !important;
  line-height: 24px !important;
  border: none !important;
  background: none !important;
  cursor: pointer !important;
  
}
.custom-datepicker-header__select-arrow svg {
  font-size: 24px !important;
}
.custom-datepicker-header__select-label {
  line-height: 20px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: var(--TextPrimary) !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
}
.react-datepicker__day-name {
  color: var(--TextTertiary) !important;
}
.react-datepicker__day {
  color: var(--TextPrimary) !important;
}
.react-datepicker__day--outside-month {
  color: var(--TextTertiary) !important;
}
.react-datepicker__day--selected {
  border-radius: 50%;
  background: var(--ControlPrimary) !important;
  color: var(--TextContrast) !important;
}
